<h1 style="text-transform:uppercase; font-family: montserrat;text-align: center;">Create a new Task!</h1>
<%= simple_form_for(@task) do |f| %>
  <%= f.input :title %>
  <%= f.input :details %>
  <%= f.submit %>
<% end %>

<%#
<%= form_for(@task) do |f| %>
  <%# <%= f.label :title %>
  <%# <%= f.text_field :title %>
  <%# <%= f.label :details %>
  <%# <%= f.text_field :details %>
  <%# <%= f.submit %>
<%# <% end %>
